.headerWrap {
    display: flex;
    margin-top: -5px;
    justify-content: space-between;
    background-color: #1456fd;
    max-width: 100%;
    border: 2px solid #242447;
}

.mainInfo,
.dateInfo {
    display: flex;
    color: white;
    padding: 10px 20px;

}

.title,
.participants,
.messages {
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
    font-size: 16px;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}