.formWrap {
    padding: 10px 20px 10px;
    background-color: #b9c0dc;
    border: 2px solid #242447;
    border-top: 0;
}

.sendMsgForm {
    display: flex;
}



.sendLabel {
    width: 95%;
}

.input {
    width: inherit;
    min-height: 80px;
    padding: 10px;
    resize: none;
}

.submitBtn {
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: -15px;
}